.catBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 100px;
    min-height: 450px;
}

.cattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
    font-size: 50%;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 25px;
    font-size: 80%;
}

.tab-pane {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background: white;
}

.btn-group {
    margin: 15px auto;
}